In [1]:
import pandas as pd
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup

In [2]:
url_state='https://nursesalaryguide.net/nurse-salary-by-state/'

In [3]:
uClient = uReq(url_state)
page_html_state = uClient.read()

In [4]:
page_soup = soup(page_html_state, "html.parser")
tables_state = page_soup.findAll("table",{"class":"tablepress tablepress-id-1 tablepress-responsive"})

In [5]:
#url_cl='https://nursesalaryguide.net/registered-nurse-rn-salary/'

In [6]:
#uClient = uReq(url_cl)
#page_html_cl = uClient.read()

In [7]:
#page_soup = soup(page_html_cl, "html.parser")
#cl = page_soup.find_all("strong")

In [8]:
#cl

In [9]:
state=[]
hourly_salary=[]
monthly_salary=[]
for table in tables_state[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(list(row.find('td', class_='column-1').text.strip().split(' '))[-1])
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())

In [10]:
sheet1=pd.DataFrame(list(zip(state,hourly_salary,monthly_salary)), columns= ['State','Average Salary (Hourly)','Average Salary (Annual)'])

In [11]:
sheet1.head()

        State Average Salary (Hourly) Average Salary (Annual)
0     Alabama                  $28.96                 $60,230
1      Alaska                  $45.81                 $95,270
2     Arizona                  $38.64                 $80,380
3    Arkansas                  $30.60                 $63,640
4  California                  $57.96                $120,560

In [12]:
sheet1.to_csv('metro.csv')

In [13]:
Alabama = 'https://nursesalaryguide.net/nurse-salary-in-alabama'
Alaska = 'https://nursesalaryguide.net/nurse-salary-in-alaska/'
Arizona = 'https://nursesalaryguide.net/nurse-salary-in-arizona/'
Arkansas = 'https://nursesalaryguide.net/nurse-salary-in-arkansas/'
California = 'https://nursesalaryguide.net/nurse-salary-in-california/'
Colorado = 'https://nursesalaryguide.net/nurse-salary-in-colorado/'
Connecticut = 'https://nursesalaryguide.net/nurse-salary-in-connecticut/'
Delaware = 'https://nursesalaryguide.net/nurse-salary-in-delaware/'
District_of_Columbia = 'https://nursesalaryguide.net/nurse-salary-in-district-of-columbia/'
Florida = 'https://nursesalaryguide.net/nurse-salary-in-florida/'
Georgia = 'https://nursesalaryguide.net/nurse-salary-in-georgia/'
Hawaii = 'https://nursesalaryguide.net/nurse-salary-in-hawaii/'
Idaho = 'https://nursesalaryguide.net/nurse-salary-in-idaho/'
Illinois = 'https://nursesalaryguide.net/nurse-salary-in-illinois/'
Indiana = 'https://nursesalaryguide.net/nurse-salary-in-indiana/'
Iowa ='https://nursesalaryguide.net/nurse-salary-in-iowa/'
Kansas ='https://nursesalaryguide.net/nurse-salary-in-kansas/'
Kentucky ='https://nursesalaryguide.net/nurse-salary-in-kentucky/'
Louisiana ='https://nursesalaryguide.net/nurse-salary-in-louisiana/'
Maine ='https://nursesalaryguide.net/nurse-salary-in-maine/'
Maryland ='https://nursesalaryguide.net/nurse-salary-in-maryland/'
Massachusetts ='https://nursesalaryguide.net/nurse-salary-in-massachusetts/'
Michigan = 'https://nursesalaryguide.net/nurse-salary-in-michigan/'
Minnesota ='https://nursesalaryguide.net/nurse-salary-in-minnesota/'
Mississippi ='https://nursesalaryguide.net/nurse-salary-in-mississippi/'
Missouri ='https://nursesalaryguide.net/nurse-salary-in-missouri/'
Montana ='https://nursesalaryguide.net/nurse-salary-in-montana/'
Nebraska ='https://nursesalaryguide.net/nurse-salary-in-nebraska/'
Nevada ='https://nursesalaryguide.net/nurse-salary-in-nevada/'
New_Hampshire ='https://nursesalaryguide.net/nurse-salary-in-new-hampshire/'
New_Jersey ='https://nursesalaryguide.net/nurse-salary-in-new-jersey/'
New_Mexico ='https://nursesalaryguide.net/nurse-salary-in-new-mexico/'
New_York ='https://nursesalaryguide.net/nurse-salary-in-new-york/'
North_Carolina ='https://nursesalaryguide.net/nurse-salary-in-north-carolina/'
North_Dakota ='https://nursesalaryguide.net/nurse-salary-in-north-dakota/'
Ohio ='https://nursesalaryguide.net/nurse-salary-in-ohio/'
Oklahoma ='https://nursesalaryguide.net/nurse-salary-in-oklahoma/'
Oregon ='https://nursesalaryguide.net/nurse-salary-in-oregon/'
Pennsylvania ='https://nursesalaryguide.net/nurse-salary-in-pennsylvania/'
Puerto_Rico ='https://nursesalaryguide.net/nurse-salary-in-puerto-rico/'
South_Carolina ='https://nursesalaryguide.net/nurse-salary-in-south-carolina/'
South_Dakota ='https://nursesalaryguide.net/nurse-salary-in-south-dakota/'
Tennessee ='https://nursesalaryguide.net/nurse-salary-in-tennessee/'
Texas = 'https://nursesalaryguide.net/nurse-salary-in-texas/'
Utah = 'https://nursesalaryguide.net/nurse-salary-in-utah/'
Vermont = 'https://nursesalaryguide.net/nurse-salary-in-vermont/'
Virginia = 'https://nursesalaryguide.net/nurse-salary-in-virginia/'
Washington = 'https://nursesalaryguide.net/nurse-salary-in-washington/'
West_Virginia = 'https://nursesalaryguide.net/nurse-salary-in-west-virginia/'
Wisconsin = 'https://nursesalaryguide.net/nurse-salary-in-wisconsin/'
Wyoming = 'https://nursesalaryguide.net/nurse-salary-in-wyoming/'

In [14]:
state_lst = [Alabama ,
Alaska ,
Arizona ,
Arkansas ,
California ,
Colorado ,
Connecticut ,
Delaware ,
District_of_Columbia ,
Florida  ,
Georgia  ,
Hawaii  ,
Idaho  ,
Illinois ,
Indiana ,
Iowa ,
Kansas,
Kentucky,
Louisiana ,
Maine ,
Maryland,
Massachusetts ,
Michigan ,
Minnesota ,
Mississippi ,
Missouri ,
Montana,
Nebraska ,
Nevada ,
New_Hampshire ,
New_Jersey ,
New_Mexico ,
New_York ,
North_Carolina ,
North_Dakota ,
Ohio ,
Oklahoma ,
Oregon ,
Pennsylvania ,
Puerto_Rico ,
South_Carolina ,
South_Dakota ,
Tennessee ,
Texas ,
Utah ,
Vermont ,
Virginia ,
Washington ,
West_Virginia ,
Wisconsin ,
Wyoming ]

In [15]:
uClient = uReq(url_state)

In [17]:
uClient=[]
page_html=[]
for i in state_lst:
    uClient.append(uReq(i))

In [18]:
uClient[0]

In [19]:
page_html0 = uClient[0].read()
page_html1 = uClient[1].read()
page_html2 = uClient[2].read()
page_html3 = uClient[3].read()
page_html4 = uClient[4].read()
page_html5 = uClient[5].read()
page_html6 = uClient[6].read()
page_html7 = uClient[7].read()
page_html8 = uClient[8].read()
page_html9 = uClient[9].read()
page_html10 = uClient[10].read()
page_html11 = uClient[11].read()
page_html12 = uClient[12].read()
page_html13 = uClient[13].read()
page_html14 = uClient[14].read()
page_html15 = uClient[15].read()
page_html16 = uClient[16].read()
page_html17 = uClient[17].read()
page_html18 = uClient[18].read()
page_html19 = uClient[19].read()
page_html20 = uClient[20].read()
page_html21 = uClient[21].read()
page_html22 = uClient[22].read()
page_html23 = uClient[23].read()
page_html24 = uClient[24].read()
page_html25 = uClient[25].read()
page_html26 = uClient[26].read()
page_html27 = uClient[27].read()
page_html28 = uClient[28].read()
page_html29 = uClient[29].read()
page_html30 = uClient[30].read()
page_html31 = uClient[31].read()
page_html32 = uClient[32].read()
page_html33 = uClient[33].read()
page_html34 = uClient[34].read()
page_html35 = uClient[35].read()
page_html36 = uClient[36].read()
page_html37 = uClient[37].read()
page_html38 = uClient[38].read()
page_html39 = uClient[39].read()
page_html40 = uClient[40].read()
page_html41 = uClient[41].read()
page_html42 = uClient[42].read()
page_html43 = uClient[43].read()
page_html44 = uClient[44].read()
page_html45 = uClient[45].read()
page_html46 = uClient[46].read()
page_html47 = uClient[47].read()
page_html48 = uClient[48].read()
page_html49 = uClient[49].read()
page_html50 = uClient[50].read()

In [20]:
#page_soup=[]
#for i in page_html:
#    page_soup.append(soup(str(i), "html.parser"))

page_soup0=soup(page_html0,"html.parser")
page_soup1=soup(page_html1,"html.parser")
page_soup2=soup(page_html2,"html.parser")
page_soup3=soup(page_html3,"html.parser")
page_soup4=soup(page_html4,"html.parser")
page_soup5=soup(page_html5,"html.parser")
page_soup6=soup(page_html6,"html.parser")
page_soup7=soup(page_html7,"html.parser")
page_soup8=soup(page_html8,"html.parser")
page_soup9=soup(page_html9,"html.parser")
page_soup10=soup(page_html10,"html.parser")
page_soup11=soup(page_html11,"html.parser")
page_soup12=soup(page_html12,"html.parser")
page_soup13=soup(page_html13,"html.parser")
page_soup14=soup(page_html14,"html.parser")
page_soup15=soup(page_html15,"html.parser")
page_soup16=soup(page_html16,"html.parser")
page_soup17=soup(page_html17,"html.parser")
page_soup18=soup(page_html18,"html.parser")
page_soup19=soup(page_html19,"html.parser")
page_soup20=soup(page_html20,"html.parser")
page_soup21=soup(page_html21,"html.parser")
page_soup22=soup(page_html22,"html.parser")
page_soup23=soup(page_html23,"html.parser")
page_soup24=soup(page_html24,"html.parser")
page_soup25=soup(page_html25,"html.parser")
page_soup26=soup(page_html26,"html.parser")
page_soup27=soup(page_html27,"html.parser")
page_soup28=soup(page_html28,"html.parser")
page_soup29=soup(page_html29,"html.parser")
page_soup30=soup(page_html30,"html.parser")
page_soup31=soup(page_html31,"html.parser")
page_soup32=soup(page_html32,"html.parser")
page_soup33=soup(page_html33,"html.parser")
page_soup34=soup(page_html34,"html.parser")
page_soup35=soup(page_html35,"html.parser")
page_soup36=soup(page_html36,"html.parser")
page_soup37=soup(page_html37,"html.parser")
page_soup38=soup(page_html38,"html.parser")
page_soup39=soup(page_html39,"html.parser")
page_soup40=soup(page_html40,"html.parser")
page_soup41=soup(page_html41,"html.parser")
page_soup42=soup(page_html42,"html.parser")
page_soup43=soup(page_html43,"html.parser")
page_soup44=soup(page_html44,"html.parser")
page_soup45=soup(page_html45,"html.parser")
page_soup46=soup(page_html46,"html.parser")
page_soup47=soup(page_html47,"html.parser")
page_soup48=soup(page_html48,"html.parser")
page_soup49=soup(page_html49,"html.parser")
page_soup50=soup(page_html50,"html.parser")

In [21]:
tables0=(page_soup0.findAll("table",{"class":"tablepress tablepress-id-6 tablepress-responsive"}))
tables1=(page_soup1.findAll("table",{"class":"tablepress tablepress-id-9 tablepress-responsive"}))
tables2=(page_soup2.findAll("table",{"class":"tablepress tablepress-id-10 tablepress-responsive"}))
tables3=(page_soup3.findAll("table",{"class":"tablepress tablepress-id-13 tablepress-responsive"}))
tables4=(page_soup4.findAll("table",{"class":"tablepress tablepress-id-16 tablepress-responsive"}))
tables5=(page_soup5.findAll("table",{"class":"tablepress tablepress-id-33 tablepress-responsive"}))
tables6=(page_soup6.findAll("table",{"class":"tablepress tablepress-id-34 tablepress-responsive"}))
tables7=(page_soup7.findAll("table",{"class":"tablepress tablepress-id-36 tablepress-responsive"}))
tables8=(page_soup8.findAll("table",{"class":"tablepress tablepress-id-35 tablepress-responsive"}))
tables9=(page_soup9.findAll("table",{"class":"tablepress tablepress-id-37 tablepress-responsive"}))
tables10=(page_soup10.findAll("table",{"class":"tablepress tablepress-id-38 tablepress-responsive"}))
tables11=(page_soup11.findAll("table",{"class":"tablepress tablepress-id-39 tablepress-responsive"}))
tables12=(page_soup12.findAll("table",{"class":"tablepress tablepress-id-42 tablepress-responsive"}))
tables13=(page_soup13.findAll("table",{"class":"tablepress tablepress-id-45 tablepress-responsive"}))
tables14=(page_soup14.findAll("table",{"class":"tablepress tablepress-id-48 tablepress-responsive"}))
tables15=(page_soup15.findAll("table",{"class":"tablepress tablepress-id-51 tablepress-responsive"}))
tables16=(page_soup16.findAll("table",{"class":"tablepress tablepress-id-54 tablepress-responsive"}))
tables17=(page_soup17.findAll("table",{"class":"tablepress tablepress-id-57 tablepress-responsive"}))
tables18=(page_soup18.findAll("table",{"class":"tablepress tablepress-id-60 tablepress-responsive"}))
tables19=(page_soup19.findAll("table",{"class":"tablepress tablepress-id-63 tablepress-responsive"}))
tables20=(page_soup20.findAll("table",{"class":"tablepress tablepress-id-66 tablepress-responsive"}))
tables21=(page_soup21.findAll("table",{"class":"tablepress tablepress-id-67 tablepress-responsive"}))
tables22=(page_soup22.findAll("table",{"class":"tablepress tablepress-id-70 tablepress-responsive"}))
tables23=(page_soup23.findAll("table",{"class":"tablepress tablepress-id-73 tablepress-responsive"}))
tables24=(page_soup24.findAll("table",{"class":"tablepress tablepress-id-76 tablepress-responsive"}))
tables25=(page_soup25.findAll("table",{"class":"tablepress tablepress-id-79 tablepress-responsive"}))
tables26=(page_soup26.findAll("table",{"class":"tablepress tablepress-id-82 tablepress-responsive"}))
tables27=(page_soup27.findAll("table",{"class":"tablepress tablepress-id-85 tablepress-responsive"}))
tables28=(page_soup28.findAll("table",{"class":"tablepress tablepress-id-88 tablepress-responsive"}))
tables29=(page_soup29.findAll("table",{"class":"tablepress tablepress-id-91 tablepress-responsive"}))
tables30=(page_soup30.findAll("table",{"class":"tablepress tablepress-id-94 tablepress-responsive"}))
tables31=(page_soup31.findAll("table",{"class":"tablepress tablepress-id-97 tablepress-responsive"}))
tables32=(page_soup32.findAll("table",{"class":"tablepress tablepress-id-100 tablepress-responsive"}))
tables33=(page_soup33.findAll("table",{"class":"tablepress tablepress-id-103 tablepress-responsive"}))
tables34=(page_soup34.findAll("table",{"class":"tablepress tablepress-id-106 tablepress-responsive"}))
tables35=(page_soup35.findAll("table",{"class":"tablepress tablepress-id-109 tablepress-responsive"}))
tables36=(page_soup36.findAll("table",{"class":"tablepress tablepress-id-112 tablepress-responsive"}))
tables37=(page_soup37.findAll("table",{"class":"tablepress tablepress-id-115 tablepress-responsive"}))
tables38=(page_soup38.findAll("table",{"class":"tablepress tablepress-id-118 tablepress-responsive"}))
tables39=(page_soup39.findAll("table",{"class":"tablepress tablepress-id-121 tablepress-responsive"}))
tables40=(page_soup40.findAll("table",{"class":"tablepress tablepress-id-124 tablepress-responsive"}))
tables41=(page_soup41.findAll("table",{"class":"tablepress tablepress-id-127 tablepress-responsive"}))
tables42=(page_soup42.findAll("table",{"class":"tablepress tablepress-id-130 tablepress-responsive"}))
tables43=(page_soup43.findAll("table",{"class":"tablepress tablepress-id-133 tablepress-responsive"}))
tables44=(page_soup44.findAll("table",{"class":"tablepress tablepress-id-136 tablepress-responsive"}))
tables45=(page_soup45.findAll("table",{"class":"tablepress tablepress-id-139 tablepress-responsive"}))
tables46=(page_soup46.findAll("table",{"class":"tablepress tablepress-id-142 tablepress-responsive"}))
tables47=(page_soup47.findAll("table",{"class":"tablepress tablepress-id-145 tablepress-responsive"}))
tables48=(page_soup48.findAll("table",{"class":"tablepress tablepress-id-148 tablepress-responsive"}))
tables49=(page_soup49.findAll("table",{"class":"tablepress tablepress-id-151 tablepress-responsive"}))
tables50=(page_soup50.findAll("table",{"class":"tablepress tablepress-id-154 tablepress-responsive"}))

In [22]:
titles0 = page_soup0.find_all("title")
titles1 = page_soup1.find_all("title")
titles2 = page_soup2.find_all("title")
titles3 = page_soup3.find_all("title")
titles4 = page_soup4.find_all("title")
titles5 = page_soup5.find_all("title")
titles6 = page_soup6.find_all("title")
titles7 = page_soup7.find_all("title")
titles8 = page_soup8.find_all("title")
titles9 = page_soup9.find_all("title")
titles10 = page_soup10.find_all("title")
titles11 = page_soup11.find_all("title")
titles12 = page_soup12.find_all("title")
titles13 = page_soup13.find_all("title")
titles14 = page_soup14.find_all("title")
titles15 = page_soup15.find_all("title")
titles16 = page_soup16.find_all("title")
titles17 = page_soup17.find_all("title")
titles18 = page_soup18.find_all("title")
titles19 = page_soup19.find_all("title")
titles20 = page_soup20.find_all("title")
titles21 = page_soup21.find_all("title")
titles22 = page_soup22.find_all("title")
titles23 = page_soup23.find_all("title")
titles24 = page_soup24.find_all("title")
titles25 = page_soup25.find_all("title")
titles26 = page_soup26.find_all("title")
titles27 = page_soup27.find_all("title")
titles28 = page_soup28.find_all("title")
titles29 = page_soup29.find_all("title")
titles30 = page_soup30.find_all("title")
titles31 = page_soup31.find_all("title")
titles32 = page_soup32.find_all("title")
titles33 = page_soup33.find_all("title")
titles34 = page_soup34.find_all("title")
titles35 = page_soup35.find_all("title")
titles36 = page_soup36.find_all("title")
titles37 = page_soup37.find_all("title")
titles38 = page_soup38.find_all("title")
titles39 = page_soup39.find_all("title")
titles40 = page_soup40.find_all("title")
titles41 = page_soup41.find_all("title")
titles42 = page_soup42.find_all("title")
titles43 = page_soup43.find_all("title")
titles44 = page_soup44.find_all("title")
titles45 = page_soup45.find_all("title")
titles46 = page_soup46.find_all("title")
titles47 = page_soup47.find_all("title")
titles48 = page_soup48.find_all("title")
titles49 = page_soup49.find_all("title")
titles50 = page_soup50.find_all("title")

In [47]:
import statistics
state=[]
hourly_salary=[]
monthly_salary=[]
title=[]
hourly_median=[]
hourly_median_1=[]
monthly_median_1=[]
emp=[]

for table in tables0[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles0:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[0]:
                title=title[0]
hourly=[]
for i in hourly_salary:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary:
    monthly.append(i)
print(monthly)
inte=[]
for i in monthly:
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))
print(monthly_median_1)


n=len(hourly_salary)
for table in tables1[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles1:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[1]:
                title=title[1]
hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)
for table in tables2[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles2:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[2]:
                title=title[2]
hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)
for table in tables3[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles3:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[3]:
                title=title[3]
hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)
for table in tables4[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles4:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[4]:
                title=title[4]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)
for table in tables5[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles5:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[5]:
                title=title[5]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables6[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles6:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[6]:
                title=title[6]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)


for table in tables7[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles7:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[7]:
                title=title[7]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables8[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles8:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[8]:
                title=title[8]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables9[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles9:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[9]:
                title=title[9]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables10[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles10:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[10]:
                title=title[10]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables11[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles11:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[11]:
                title=title[11]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]

for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables12[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles12:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[12]:
                title=title[12]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables13[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles13:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[13]:
                title=title[13]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables14[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles14:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[14]:
                title=title[14]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables15[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles15:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[15]:
                title=title[15]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables16[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles16:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[16]:
                title=title[16]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables17[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles17:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[17]:
                title=title[17]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables18[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles18:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[18]:
                title=title[18]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables19[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles19:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[19]:
                title=title[19]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables20[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles20:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[20]:
                title=title[20]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables21[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles21:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[21]:
                title=title[21]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables22[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles22:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[22]:
                title=title[22]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables23[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles23:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[23]:
                title=title[23]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables24[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles24:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[24]:
                title=title[24]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables25[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles25:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[25]:
                title=title[25]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables26[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles26:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[26]:
                title=title[26]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables27[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles27:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[27]:
                title=title[27]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables28[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles28:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[28]:
                title=title[28]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables29[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles29:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[29]:
                title=title[29]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables30[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles30:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[30]:
                title=title[30]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables31[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles31:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[31]:
                title=title[31]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables32[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles32:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[32]:
                title=title[32]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables33[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles33:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[33]:
                title=title[33]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables34[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles34:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[34]:
                title=title[34]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables35[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles35:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[35]:
                title=title[35]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables36[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles36:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[36]:
                title=title[36]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables37[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles37:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[37]:
                title=title[37]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables38[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles38:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[38]:
                title=title[38]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables39[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles39:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[39]:
                title=title[39]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables40[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles40:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[40]:
                title=title[40]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables41[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles41:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[41]:
                title=title[41]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables42[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles42:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[42]:
                title=title[42]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables43[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles43:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[43]:
                title=title[43]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables44[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles44:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[44]:
                title=title[44]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables45[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles45:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[45]:
                title=title[45]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables46[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles46:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[46]:
                title=title[46]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables47[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles47:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[47]:
                title=title[47]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables48[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles48:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[48]:
                title=title[48]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables49[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles49:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[49]:
                title=title[49]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

n=len(hourly_salary)

for table in tables50[0].find_all('tbody'):
    rows = table.find_all('tr')
    for row in rows:
        state.append(row.find('td', class_='column-1').text.strip())
        hourly_salary.append(row.find('td', class_='column-3').text.strip())
        monthly_salary.append(row.find('td', class_='column-4').text.strip())
        emp.append(row.find('td', class_='column-2').text.strip())
        for i in titles50:
            title.append(list(i.get_text().split(' '))[3])
            if state==state[50]:
                title=title[50]

hourly=[]
for i in hourly_salary[n:]:
    hourly.append(i)
print(hourly)
inte=[]
for i in hourly:
    if i=='-':
        continue
    inte.append(float(i[1:]))
print(inte)
hourly_median_1.append(statistics.median(inte))
print(hourly_median_1)

monthly=[]
for i in monthly_salary[n:]:
    monthly.append(i)
inte=[]
for i in monthly:
    if i=='-':
        continue
    inte.append(int(i[1:].replace(',','')))
print(inte)
monthly_median_1.append(statistics.median(inte))

['$28.16', '$27.70', '$28.91', '$26.24', '$25.02', '$27.80', '$23.90', '$27.08', '$27.29', '$30.90', '$24.75', '$25.66', '$28.42', '$25.72', '$27.57']
[28.16, 27.7, 28.91, 26.24, 25.02, 27.8, 23.9, 27.08, 27.29, 30.9, 24.75, 25.66, 28.42, 25.72, 27.57]
[27.29]
['$58,560', '$57,620', '$60,120', '$54,580', '$52,040', '$57,830', '$49,710', '$56,330', '$56,760', '$64,260', '$51,480', '$53,380', '$59,120', '$53,500', '$57,350']
[58560, 57620, 60120, 54580, 52040, 57830, 49710, 56330, 56760, 64260, 51480, 53380, 59120, 53500, 57350]
[56760]
['$41.93', '$43.98', '$40.04', '$43.12']
[41.93, 43.98, 40.04, 43.12]
[27.29, 42.525]
[87200, 91480, 83280, 89680]
['$35.92', '-', '$33.70', '$36.61', '$36.05', '$30.40', '$34.80', '$33.23']
[35.92, 33.7, 36.61, 36.05, 30.4, 34.8, 33.23]
[27.29, 42.525, 34.8]
[74710, 70090, 76140, 74980, 63220, 72390, 69110]
['$26.13', '$27.48', '$27.23', '$30.25', '$25.91', '$29.50', '$26.67', '$25.69', '$27.81', '$27.17']
[26.13, 27.48, 27.23, 30.25, 25.91, 29.5, 26.67, 25.69, 27.81, 27.17]
[27.29, 42.525, 34.8, 27.200000000000003]
[54340, 57160, 56630, 62910, 53900, 61350, 55460, 53430, 57850, 56510]
['$42.01', '$43.56', '$39.49', '$45.04', '$42.03', '$43.76', '$39.97', '$45.10', '$45.99', '$47.57', '$51.18', '$48.89', '$54.68', '$43.46', '$40.43', '$56.09', '$40.34', '$46.26', '$46.88', '$55.85', '$62.47', '$45.55', '$60.08', '$67.16', '$62.09', '$48.42', '$47.44', '$59.84', '$49.00', '$53.62', '$52.03', '$57.61', '$41.97']
[42.01, 43.56, 39.49, 45.04, 42.03, 43.76, 39.97, 45.1, 45.99, 47.57, 51.18, 48.89, 54.68, 43.46, 40.43, 56.09, 40.34, 46.26, 46.88, 55.85, 62.47, 45.55, 60.08, 67.16, 62.09, 48.42, 47.44, 59.84, 49.0, 53.62, 52.03, 57.61, 41.97]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44]
[87390, 90610, 82140, 93690, 87420, 91010, 83140, 93800, 95650, 98940, 106460, 101700, 113740, 90390, 84100, 116660, 83910, 96220, 97520, 116170, 129940, 94740, 124970, 139700, 129140, 100710, 98660, 124470, 101920, 111530, 108230, 119830, 87310]
['$36.12', '$34.05', '$35.58', '$30.58', '$33.83', '$35.11', '$33.44', '$36.59', '$33.20', '$32.00']
[36.12, 34.05, 35.58, 30.58, 33.83, 35.11, 33.44, 36.59, 33.2, 32.0]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94]
[75130, 70820, 74010, 63610, 70380, 73020, 69560, 76100, 69050, 66570]
['$38.63', '$34.40', '$42.99', '$38.21', '$39.71', '$37.61', '$38.08']
[38.63, 34.4, 42.99, 38.21, 39.71, 37.61, 38.08]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21]
[80360, 71540, 89410, 79470, 82600, 78230, 79200]
['$31.76', '$35.73']
[31.76, 35.73]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745]
[66060, 74320]
['$39.18', '$38.83']
[39.18, 38.83]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995]
[81500, 80760]
['$31.81', '$26.69', '$27.65', '$33.18', '$32.42', '$30.27', '$29.65', '$29.20', '$32.38', '$32.08', '$34.19', '$31.33', '$31.71', '$28.45', '$28.64', '$30.42', '$33.02', '$27.15', '$28.35', '$27.33', '$31.75', '$29.38', '$23.27', '$27.69', '$29.94', '$32.21', '$28.89', '$31.98']
[31.81, 26.69, 27.65, 33.18, 32.42, 30.27, 29.65, 29.2, 32.38, 32.08, 34.19, 31.33, 31.71, 28.45, 28.64, 30.42, 33.02, 27.15, 28.35, 27.33, 31.75, 29.38, 23.27, 27.69, 29.94, 32.21, 28.89, 31.98]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105]
[66170, 55510, 57510, 69010, 67430, 62970, 61680, 60730, 67340, 66720, 71120, 65160, 65950, 59180, 59580, 63270, 68690, 56480, 58960, 56850, 66050, 61110, 48400, 57610, 62270, 67000, 60080, 66520]
['$25.98', '$30.28', '$33.92', '$27.94', '$28.87', '$28.53', '$31.90', '$30.28', '$29.42', '$28.75', '$30.65', '$29.88', '$27.16', '$29.18', '$29.50', '$28.65', '$32.77']
[25.98, 30.28, 33.92, 27.94, 28.87, 28.53, 31.9, 30.28, 29.42, 28.75, 30.65, 29.88, 27.16, 29.18, 29.5, 28.65, 32.77]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42]
[54030, 62980, 70540, 58120, 60050, 59340, 66340, 62980, 61190, 59810, 63740, 62160, 56500, 60700, 61350, 59600, 68150]
['$44.78', '$43.93', '$47.21']
[44.78, 43.93, 47.21]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78]
[93130, 91380, 98190]
['$31.94', '$34.63', '$28.51', '$29.00', '$29.76', '$29.63', '$28.03', '$30.57', '$31.70']
[31.94, 34.63, 28.51, 29.0, 29.76, 29.63, 28.03, 30.57, 31.7]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76]
[66440, 72040, 59290, 60320, 61910, 61640, 58290, 63590, 65930]
['$31.09', '$30.98', '$33.17', '$36.84', '$31.62', '$29.75', '$28.34', '$34.79', '$33.80', '$28.18', '$29.93', '$31.51', '$27.60', '$31.16', '$27.55', '$36.33', '$35.92']
[31.09, 30.98, 33.17, 36.84, 31.62, 29.75, 28.34, 34.79, 33.8, 28.18, 29.93, 31.51, 27.6, 31.16, 27.55, 36.33, 35.92]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16]
[64670, 64450, 69000, 76640, 65770, 61880, 58940, 72370, 70290, 58620, 62250, 65550, 57400, 64810, 57290, 75570, 74710]
['$28.13', '$28.45', '$28.11', '$27.91', '$26.97', '$32.36', '$32.06', '$29.22', '$30.04', '$30.46', '$29.59', '$25.88', '$27.65', '$29.30', '$28.66', '$29.24']
[28.13, 28.45, 28.11, 27.91, 26.97, 32.36, 32.06, 29.22, 30.04, 30.46, 29.59, 25.88, 27.65, 29.3, 28.66, 29.24]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998]
[58510, 59180, 58470, 58050, 56100, 67310, 66690, 60780, 62490, 63350, 61550, 53830, 57510, 60930, 59600, 60810]
['$27.60', '$27.38', '$28.97', '$26.00', '$31.55', '$26.56', '$26.16', '$28.24', '$26.70', '$26.51', '$25.84', '$25.59']
[27.6, 27.38, 28.97, 26.0, 31.55, 26.56, 26.16, 28.24, 26.7, 26.51, 25.84, 25.59]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63]
[57410, 56950, 60260, 54090, 65610, 55240, 54420, 58740, 55540, 55140, 53750, 53240]
['$29.69', '$25.73', '$26.41', '$26.84', '$25.91', '$26.68', '$30.39', '$27.32']
[29.69, 25.73, 26.41, 26.84, 25.91, 26.68, 30.39, 27.32]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998]
[61750, 53520, 54930, 55820, 53900, 55490, 63210, 56830]
['$28.61', '$27.54', '$27.01', '$29.14', '$30.07', '$29.68', '$27.76', '$27.33', '$30.57']
[28.61, 27.54, 27.01, 29.14, 30.07, 29.68, 27.76, 27.33, 30.57]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61]
[59520, 57280, 56190, 60600, 62530, 61740, 57740, 56840, 63580]
['$29.71', '$28.63', '$29.87', '$30.89', '$28.32', '$29.16', '$27.89', '$29.25', '$33.08', '$29.26', '$29.34', '$30.32', '$29.25']
[29.71, 28.63, 29.87, 30.89, 28.32, 29.16, 27.89, 29.25, 33.08, 29.26, 29.34, 30.32, 29.25]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26]
[61790, 59550, 62130, 64260, 58900, 60660, 58000, 60840, 68800, 60860, 61030, 63060, 60840]
['$34.90', '$29.07', '$28.77', '$33.28', '$30.36']
[34.9, 29.07, 28.77, 33.28, 30.36]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36]
[72600, 60460, 59830, 69220, 63150]
['$32.98', '$36.62', '$29.97', '$37.59', '$30.58', '$33.88', '$30.48', '$32.91']
[32.98, 36.62, 29.97, 37.59, 30.58, 33.88, 30.48, 32.91]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999]
[68610, 76160, 62330, 78180, 63600, 70460, 63400, 68450]
['$40.79', '$46.70', '$38.80', '$36.72', '$36.39', '$34.98', '$35.95', '$38.31', '$44.12', '$37.63', '$41.04', '$40.51', '$36.74', '$35.05', '$38.26', '$37.17', '$40.49', '$44.32', '$40.67', '$40.40', '$38.00']
[40.79, 46.7, 38.8, 36.72, 36.39, 34.98, 35.95, 38.31, 44.12, 37.63, 41.04, 40.51, 36.74, 35.05, 38.26, 37.17, 40.49, 44.32, 40.67, 40.4, 38.0]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31]
[84840, 97130, 80710, 76370, 75680, 72760, 74770, 79680, 91770, 78270, 85350, 84260, 76420, 72900, 79570, 77310, 84220, 92180, 84590, 84030, 79040]
['$35.88', '$31.23', '$32.80', '$36.13', '$34.04', '$34.44', '$36.05', '$30.78', '$29.02', '$32.19', '$35.75', '$26.77', '$28.92', '$30.95', '$31.49', '$28.35', '$34.83']
[35.88, 31.23, 32.8, 36.13, 34.04, 34.44, 36.05, 30.78, 29.02, 32.19, 35.75, 26.77, 28.92, 30.95, 31.49, 28.35, 34.83]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19]
[74630, 64960, 68230, 75160, 70810, 71630, 74990, 64030, 60360, 66960, 74360, 55690, 60150, 64380, 65500, 58970, 72450]
['$32.70', '$34.14', '$34.14', '$37.46', '$33.73', '$30.86', '$37.04', '$30.39', '$39.19']
[32.7, 34.14, 34.14, 37.46, 33.73, 30.86, 37.04, 30.39, 39.19]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14]
[68010, 71010, 71000, 77920, 70160, 64200, 77030, 63200, 81510]
['$28.89', '$25.58', '$29.97', '$26.03', '$28.21', '$24.69', '$26.41']
[28.89, 25.58, 29.97, 26.03, 28.21, 24.69, 26.41]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41]
[60090, 53210, 62330, 54150, 58670, 51360, 54940]
['$27.02', '$32.22', '$27.79', '$27.13', '$26.30', '$27.38', '$26.65', '$26.95', '$27.76', '$31.69', '$31.48', '$29.38']
[27.02, 32.22, 27.79, 27.13, 26.3, 27.38, 26.65, 26.95, 27.76, 31.69, 31.48, 29.38]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57]
[56200, 67010, 57810, 56430, 54710, 56960, 55420, 56060, 57750, 65910, 65490, 61110]
['$33.43', '$29.03', '$31.26', '$30.27', '$31.94', '$31.49', '$32.38']
[33.43, 29.03, 31.26, 30.27, 31.94, 31.49, 32.38]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49]
[69540, 60380, 65020, 62950, 66430, 65510, 67340]
['$29.01', '$29.85', '$30.18', '$27.73', '$28.70', '$28.43', '$30.52']
[29.01, 29.85, 30.18, 27.73, 28.7, 28.43, 30.52]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01]
[60340, 62080, 62760, 57670, 59700, 59120, 63480]
['$39.79', '$41.92', '$35.05', '$37.67', '$36.92']
[39.79, 41.92, 35.05, 37.67, 36.92]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67]
[82760, 87200, 72900, 78350, 76790]
['$32.85', '$33.96', '$30.40', '$32.41', '$35.73', '$33.62', '$32.87', '$33.45']
[32.85, 33.96, 30.4, 32.41, 35.73, 33.62, 32.87, 33.45]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16]
[68320, 70630, 63230, 67420, 74310, 69930, 68370, 69590]
['$37.66', '$37.17', '$33.75', '$36.63', '$38.01', '$40.53']
[37.66, 37.17, 33.75, 36.63, 38.01, 40.53]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415]
[78330, 77320, 70190, 76200, 79060, 84310]
['$35.32', '$30.94', '$32.51', '$26.58', '$34.66', '$31.66', '$33.06', '$33.12']
[35.32, 30.94, 32.51, 26.58, 34.66, 31.66, 33.06, 33.12]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785]
[73460, 64360, 67620, 55280, 72100, 65850, 68770, 68900]
['$32.20', '$29.96', '$35.22', '$32.81', '$31.29', '$38.01', '$30.58', '$30.85', '$29.22', '$33.29', '$42.46', '$30.90', '$28.88', '$31.13', '$31.29', '$35.18', '$43.67', '$42.98']
[32.2, 29.96, 35.22, 32.81, 31.29, 38.01, 30.58, 30.85, 29.22, 33.29, 42.46, 30.9, 28.88, 31.13, 31.29, 35.18, 43.67, 42.98]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745]
[66980, 62320, 73250, 68250, 65080, 79060, 63600, 64160, 60770, 69240, 88320, 64280, 60060, 64750, 65080, 73170, 90840, 89400]
['$30.23', '$30.99', '$32.39', '$31.64', '$30.17', '$31.25', '$29.36', '$27.11', '$30.00', '$27.71', '$28.17', '$27.20', '$28.88', '$30.78', '$28.81', '$28.28', '$28.85', '$30.00', '$30.00']
[30.23, 30.99, 32.39, 31.64, 30.17, 31.25, 29.36, 27.11, 30.0, 27.71, 28.17, 27.2, 28.88, 30.78, 28.81, 28.28, 28.85, 30.0, 30.0]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0]
[62880, 64450, 67360, 65820, 62740, 64990, 61060, 56380, 62410, 57630, 58600, 56580, 60060, 64030, 59930, 58810, 60010, 62390, 62390]
['$29.47', '$31.10', '$28.53', '$28.15', '$31.48', '$30.40']
[29.47, 31.1, 28.53, 28.15, 31.48, 30.4]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0, 29.935]
[61290, 64690, 59340, 58540, 65470, 63240]
['$32.56', '$28.99', '$32.85', '$32.25', '$32.28', '$29.19', '$33.34', '$29.03', '$28.45', '$29.12', '$24.74', '$30.75', '$28.16', '$32.14', '$27.86']
[32.56, 28.99, 32.85, 32.25, 32.28, 29.19, 33.34, 29.03, 28.45, 29.12, 24.74, 30.75, 28.16, 32.14, 27.86]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0, 29.935, 29.19]
[67720, 60300, 68320, 67080, 67150, 60710, 69340, 60370, 59190, 60570, 51470, 63960, 58580, 66850, 57960]
['$29.44', '$25.61', '$30.12', '$26.96', '$30.65', '$28.89', '$27.29', '$29.34']
[29.44, 25.61, 30.12, 26.96, 30.65, 28.89, 27.29, 29.34]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0, 29.935, 29.19, 29.115000000000002]
[61230, 53280, 62650, 56070, 63740, 60100, 56760, 61020]
['$37.31', '$43.56', '$38.63', '$41.86', '$36.97', '$42.40', '$39.57', '$40.61', '$42.19', '$41.21', '$39.24', '$43.78']
[37.31, 43.56, 38.63, 41.86, 36.97, 42.4, 39.57, 40.61, 42.19, 41.21, 39.24, 43.78]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0, 29.935, 29.19, 29.115000000000002, 40.91]
[77600, 90610, 80360, 87080, 76900, 88190, 82300, 84460, 87750, 85730, 81610, 91070]
['$30.48', '$28.26', '$35.84', '$34.29', '$28.31', '$32.22', '$33.95', '$27.74', '$30.50', '$33.10', '$34.89', '$28.50', '$39.55', '$31.43', '$31.86', '$29.06', '$31.21', '$28.07', '$28.34', '$32.76', '$32.27', '$32.65', '$37.34']
[30.48, 28.26, 35.84, 34.29, 28.31, 32.22, 33.95, 27.74, 30.5, 33.1, 34.89, 28.5, 39.55, 31.43, 31.86, 29.06, 31.21, 28.07, 28.34, 32.76, 32.27, 32.65, 37.34]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0, 29.935, 29.19, 29.115000000000002, 40.91, 31.86]
[63390, 58780, 74540, 71330, 58880, 67020, 70620, 57690, 63430, 68850, 72580, 59270, 82270, 65380, 66260, 60450, 64920, 58390, 58940, 68150, 67120, 67910, 77670]
['$13.90', '$15.20', '$12.35', '$13.89', '$14.89', '$15.04', '$15.24', '$17.32', '$13.50']
[13.9, 15.2, 12.35, 13.89, 14.89, 15.04, 15.24, 17.32, 13.5]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0, 29.935, 29.19, 29.115000000000002, 40.91, 31.86, 14.89]
[28920, 31610, 25680, 28900, 30980, 31270, 31710, 36030, 28080]
['$35.64', '$29.88', '$28.77', '$28.35', '$31.51', '$30.48', '$27.61', '$26.11', '$28.83', '$27.43', '$29.32', '$30.31']
[35.64, 29.88, 28.77, 28.35, 31.51, 30.48, 27.61, 26.11, 28.83, 27.43, 29.32, 30.31]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0, 29.935, 29.19, 29.115000000000002, 40.91, 31.86, 14.89, 29.075]
[74140, 62160, 59840, 58970, 65550, 63400, 57420, 54310, 59970, 57050, 60980, 63040]
['$25.98', '$28.65', '$27.77', '$27.21']
[25.98, 28.65, 27.77, 27.21]
[27.29, 42.525, 34.8, 27.200000000000003, 47.44, 33.94, 38.21, 33.745, 39.004999999999995, 30.105, 29.42, 44.78, 29.76, 31.16, 28.939999999999998, 26.63, 26.759999999999998, 28.61, 29.26, 30.36, 32.94499999999999, 38.31, 32.19, 34.14, 26.41, 27.57, 31.49, 29.01, 37.67, 33.16, 37.415, 32.785, 31.745, 30.0, 29.935, 29.19, 29.115000000000002, 40.91, 31.86, 14.89, 29.075, 27.490000000000002]
[54030, 59590, 57750, 56600]

In [48]:
len(emp)

583

In [49]:
len(monthly_median_1)

51

In [54]:
sheet2=pd.DataFrame(list(zip(state,title,emp,hourly_salary,monthly_salary)), columns= ['City','State','Employment','Average Salary (Hourly)','Average Salary (Annual)'])

In [55]:
sheet2.head(20)

,City,State,Employment,Average Salary (Hourly),Average Salary (Annual)
0,Anniston-Oxford-Jacksonville,Alabama,"1,020",$28.16,"$58,560"
1,Auburn-Opelika,Alabama,820,$27.70,"$57,620"
2,Birmingham-Hoover,Alabama,"17,640",$28.91,"$60,120"
3,Daphne-Fairhope-Foley,Alabama,"1,320",$26.24,"$54,580"
4,Decatur,Alabama,930,$25.02,"$52,040"
5,Dothan,Alabama,"1,960",$27.80,"$57,830"
6,Florence-Muscle Shoals,Alabama,"1,460",$23.90,"$49,710"
7,Huntsville,Alabama,"5,010",$27.08,"$56,330"
8,Mobile,Alabama,"5,120",$27.29,"$56,760"
9,Montgomery,Alabama,"3,650",$30.90,"$64,260"
10,Northeast Alabama nonmetropolitan area,Alabama,"2,510",$24.75,"$51,480"
11,Northwest Alabama nonmetropolitan area,Alabama,"1,360",$25.66,"$53,380"
12,Southeast Alabama nonmetropolitan area,Alabama,"1,300",$28.42,"$59,120"
13,Southwest Alabama nonmetropolitan area,Alabama,"1,330",$25.72,"$53,500"
14,Tuscaloosa,Alabama,"2,610",$27.57,"$57,350"
15,Anchorage,Alaska,"3,650",$41.93,"$87,200"
16,Balance of Alaska nonmetropolitan area,Alaska,760,$43.98,"$91,480"
17,Fairbanks,Alaska,690,$40.04,"$83,280"
18,Southeast Alaska nonmetropolitan area,Alaska,460,$43.12,"$89,680"
19,Arizona nonmetropolitan area,Arizona,"1,810",$35.92,"$74,710"

In [33]:
lst10=[[' ']]
len(lst10)

1

In [34]:
monthly_median_1.append(lst10)
monthly_median_1.append(lst10)
monthly_median_1.append(lst10)

In [35]:
hourly_median_1.append(lst10)
hourly_median_1.append(lst10)
hourly_median_1.append(lst10)

In [36]:
len(hourly_median_1)

54

In [37]:
len(monthly_median_1)

54

In [38]:
sheet1['Median Salary (Hourly)']=hourly_median_1

In [39]:
sheet1['Median Salary (Annual)']=monthly_median_1

In [40]:
sheet1.head()

,State,Average Salary (Hourly),Average Salary (Annual),Median Salary (Hourly),Median Salary (Annual)
0,Alabama,$28.96,"$60,230",27.29,56760
1,Alaska,$45.81,"$95,270",42.525,88440.0
2,Arizona,$38.64,"$80,380",34.8,72390
3,Arkansas,$30.60,"$63,640",27.2,56570.0
4,California,$57.96,"$120,560",47.44,98660

In [58]:
sheet1.to_csv('StateRN.csv')

In [59]:
sheet2.to_csv('MetroRN.csv')